.wrapper {
  width: 100%;
}

.foodsWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 50px;
}

.foods {
  width: calc(100% / 3 - 10px);
}

.contentWrapper {
  text-align: center;
  width: 80%;
  margin: 0 auto;
}

.contents {
  display: flex;
  align-items: center;
  column-gap: 50px;
}

.text {
  font-weight: normal;
  font-size: 24px;
  letter-spacing: 6px;
}

.text > span {
  font-weight: bold;
  font-size: 64px;
}

.filter {
  width: 100vw;
  height: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
}
