.foodsWrapper {
  width: 90%;
  display: flex;
  flex-wrap: nowrap;
  margin: 0 auto;
  margin-top: 30px;
  column-gap: 30px;
}

.foodWrapper {
  width: 25%;
  text-align: center;
}

.energies {
  width: 300px;
  margin: 0 auto;
  margin-top: 30px;
  text-align: center;
  border: 3px dashed #000;
  padding: 15px;
}
.energies p {
  margin: 0;
  font-size: 24px;
}

.btnWrapper {
  margin-top: 50px;
  text-align: center;
}
