.mypage {
  margin-left: 2.5%;
  margin-top: 10px;
  font-size: 40px;
}

.anatanosyokuji {
  margin-left: 48%;
  font-size: 30px;
  font-weight: bold;
}

/* .eachDate {
  display: flex;
  padding-top: 30px;
  border-radius: 20px;
} */

.date {
  padding-left: 3%;
  font-size: 20px;
  padding-top: 30px;
  padding-right: 5%;
}

.detail {
  margin-top: 40px;
  border-radius: 2%;
  margin-left: 7%;
  padding-top: 23px;
  width: 58vw;
  height: 180px;
  background-color: #cfcfcf;
  display: flex;
  position: relative;
}

.ryouri_flex {
  margin-top: 16px;
  background-color: #cfcfcf;
  display: flex;
  gap: 4%;
}

.total_flex {
  display: flex;
}

.human {
  margin-top: 4%;
  margin-left: 6%;
}

.btn {
  color: white;
  background-color: #6f6f6e;
  height: 60px;
  width: 310px;
  font-size: 30px;
  margin-left: 40%;
  margin-bottom: 5%;
}

.tables {
  font-weight: bold;
  position: absolute;
  right: 0;
  margin-bottom: 20%;
  margin-right: 20px;
}
