.mypage {
  margin-left: 3%;
  margin-top: 15px;
  font-size: 40px;
}

.anatanosyokuji {
  margin-left: 48%;
  font-size: 30px;
  font-weight: bold;
}

/* .eachDate {
  display: flex;
  padding-top: 30px;
  border-radius: 20px;
} */

.date {
  padding-left: 3%;
  font-size: 20px;
  padding-top: 25px;
  padding-right: 5%;
}

.detail {
  margin-top: 40px;
  border-radius: 2%;
  margin-left: 7%;
  padding-top: 30px;
  width: 58vw;
  height: 180px;
  background-color: #cfcfcf;
  display: flex;
}

.ryouri_flex {
  margin-top: 10px;
  background-color: #cfcfcf;
  display: flex;
  gap: 4%;
}

.total_flex {
  display: flex;
}

.human {
  margin-top: 4%;
  margin-left: 6%;
}

.btn {
  color: white;
  background-color: #6f6f6e;
  height: 60px;
  width: 310px;
  font-size: 30px;
  margin-left: 40%;
}
