.wrapper {
  /* background-image: url(../../public/logo2.png);
  background-repeat: no-repeat;
  background-size: 100vh auto;
  background-position: center; */

  text-align: center;
  display: flex;
  flex-direction: column;
  margin: auto auto;
  height: 80vh;
  width: 100%;
  /* background-color: rgb(245, 231, 206); */
  /* border: 0.1px solid #d7d2d2; */
  /* border: none; */
  border-radius: 10px;
  /* box-shadow: 10px 10px 24px -10px rgba(0, 0, 0, 0.3); */
}

.wrapper * {
  margin: auto;
}

.wrapper div {
  margin-bottom: 15px
}

.wrapper h1 {
  margin-bottom: 15px;
  font-size: 2.5rem;
  color: #343538;
}

@media (max-height: 500px) {
  .wrapper {
    height: 400px;
  }
}