.wrapper {
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper h1 {
    margin-top: 10vh;
    font-size: 3rem;
}

.wrapper img {
    margin-top: 5vh;
    width: 250px;
    height: 250px;
}