.wrapper {
  margin: 50px auto 0px auto;
  text-align: center;
  /* width: 80vw; */
}

.idealWrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
  /* margin-left: 5%; */
  margin-right: 5%;
  padding-right: 5%;
  padding-left: 5%;
}

.idealWrapper div {
  width: 310px;
  height: 410px;
}

.wrapper h1 {
  border-bottom: 1px solid;
  font-size: 30px;
  margin-bottom: 120px;
  padding-bottom: 30px;
}

.image h1 {
  font-size: 15px;
  border-bottom: none;
}

.image Image {
  padding-top: 100px;
  height: 300px;
  width: 20%;
  margin-top: 30px;
  display: flex;
  height: 100px;
}

.image {
  padding-top: 38px;
  text-align: center;
  border-radius: 30px;
  background-color: rgb(194, 192, 192);
}

.iname {
  font-size: 25px;
  font-weight: bold;
}
