.logout_btn {
  background-color: #6f6f6e;
  color: white;
  border-radius: 20px;
  font-size: 20px;
  border: 2px solid transparent;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
}

.logout_btn:hover {
  border: 2px solid black;
}
