.wrapper {
  margin: 50px auto 0 auto;
  text-align: center;
  width: 80vw;
}

.suggestWrapper {
  border: 1px solid #000;
}

.suggests {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
}
